html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;

    background: #000;
}

#canvas, #v{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);

    background: #702918;
}

#graphics{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 0;
}

#v{
    /* width:100vw;
    height: 100vh; */
    background: radial-gradient(transparent, #000000c2);
    z-index: 2;
}
